<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/hotel.png"/>
        <h2  style="color: #267A6A;">Welcome</h2>
        <p style="color: #267A6A;">The <b style="color: #267A6A;">Knights hotel</b> is a streamline of local hotels you can access easily.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/pets.jpg"/>
      <h2 style="color: #267A6A;">What we offer?</h2>
      <p style="color: #267A6A;"><b style="color: #267A6A;"></b> we provide a platform for owners of both small and large size hotels, Register your hotel with us for a wider audience.</p>
    </ion-slide>

    <!-- <ion-slide>
      <img src="assets/reception.jpg"/>
      <h2 style="color: #267A6A;">What is Ionic Appflow?</h2>
      <p style="color: #267A6A;"><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
    </ion-slide> -->

    <ion-slide>
      <img src="assets/reception.jpg"/>
      <h2 style="color: #267A6A;">Ready to Explore?</h2>
      <ion-button href='/login'  fill="clear" style="color: #267A6A;">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>