<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup-user</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="holder">

 
    <div class="signinText" >
      <h1  style="color:yellow;">Welcome </h1>
    </div>
    <div class="name" style="color: white;">Please create your account</div>
      <div class="form-row">
        <ion-item style="--background:#267A6A; color: yellow;">
          <ion-label></ion-label>
          <ion-input placeholder="email address"></ion-input>
        </ion-item>
        <ion-item style="--background: #267A6A; color: yellow;">
          <ion-label ></ion-label>
          <ion-input placeholder="password"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="onSignUp(emailSignUp.value,passwordSignUp.value)"  [router]="'/login'" style="--background:yellow; width: 70%;color: black; height: 30px;" shape="round">Sign Up</ion-button>
      </div>
      <a class="create" [routerLink]="'/login'" style="color: white;">Already have an account?, sign in</a><br>
      <!-- <a class="create" href='/signup-owner' style="color:rgb(179, 179, 110);">Partner to add your hotel</a> -->
    </div>
    <div class="bottom"></div>
</ion-content>
