ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-card{
margin-top:10%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}