
  <ion-toolbar style="--background:#267A6A; height: 15%;">
    <ion-title style="color: yellow;">ViewSingleProfile</ion-title>
    <ion-icon name="arrow-back-outline"  [routerLink]="'/user-home'"  style="color:yellow;font-size: 2em;float:left; text-align: center;"></ion-icon>
  </ion-toolbar>


<ion-content style="align-content: center;">
  <div *ngFor = "let arrayList of profileHotel">

    <ion-card>
      <img style="height: 200px;width: 100%;" [src]="arrayList.imgUrl" >
      <ion-card-header>
        <ion-card-subtitle> <strong> {{arrayList.hotelname}}</strong></ion-card-subtitle>
        <p>{{arrayList.Description}}</p>
        <p>{{arrayList.types}}</p>
      </ion-card-header>
<ion-card-content>
{{arrayList.location}}
{{arrayList.price}}
<p style="color: red;">Price : R{{arrayList.price}}</p> 
</ion-card-content>
    </ion-card>
  </div>




  

  <ion-button style="--background:#267A6A;color:yellow" [routerLink]="'/book-now'">book now</ion-button>
   <!-- <ion-button style="--background:#267A6A;" [routerLink]="'/view-list'">more images</ion-button> -->
</ion-content>
