
  <ion-toolbar style="--background:#267A6A;">
    <ion-title style="color: white;">viewList</ion-title>
    
  </ion-toolbar>

<!-- 
view hotell profile -->

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <span [routerLink]="'/dashboard'">back</span>
          </ion-col>
          <ion-col >
            <span style="float:right" (click)="logOut()"  >logout</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <h1>UserProfile view</h1>
      </ion-row>
        <ion-row >
            <ion-card >
                <ion-img  style="width:100%;height: 100%;padding:0%" [src]="profileHotel.imgUrl"></ion-img>
            </ion-card>
            <ion-grid>
              <ion-row>
                <ion-col><ion-label>Name: {{profileHotel.hotelname}}</ion-label></ion-col>
                <ion-col><ion-label>Rating: <ion-icon style="color:gold;font-size:1em" name="star-outline"></ion-icon> {{profileHotel.rating}}</ion-label></ion-col>
              </ion-row>
            </ion-grid>
        </ion-row>
      </ion-grid>
  </ion-content>
  
</ion-content>
